
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.cardContenedor {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 350px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.342);
}

.imageContainer {
    width: 100%;
    height: 200px;
    
}
.imageContainer img {
    max-width: 300px;
    min-width: 300px;
    max-height: 200px;
    min-height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card h2 {
    position: absolute;
    bottom: 60px;
    text-align: center;
    margin: 10px;
    font-family: sans-serif ;
    font-size: 1.2rem;
}

.card .precio {
    position: absolute;
    bottom: 10px;
    font-size: 1rem;
}

.card p {
    text-align: center;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
}


.linkCard {
    position: absolute;
    bottom: 20px;
    width: 75%;
    background-color: #4d9851;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
}

.linkCard:hover {
    background-color: #6ed772;
}